{%extends 'all-news/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

  <!-- Looping through news   -->
  {% for news_item in news %}

  <div class="row">
    <!-- displaying News articles -->
    <div class="col-xl-12">
      <h2 class="text"> {{ news_item.title }} </h2>
      <div class="row"><br><br>
        <img style="margin-top:30px;margin-bottom:15px;box-shadow: 2px 2px 4px black;" src="{{news_item.article_image.url}}"  class="img-responsive" width="50%" height="50%" alt="">
      </div>
      <p class="text">{{news_item.post}} </p>
      <small>by {{news_item.editor}}</small>
    </div>

  </div>

  {% empty %}
  <div class="">
    <h2 class="text">There Are No News Items</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}